* {
  box-sizing: border-box;
}

body {
  margin: 24px;
  background-color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
  margin: 0;
}
ul {
  list-style: none;
  padding: 0;
}
.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
}
.gallery-item {
  height: 300px;
}
.gallery-image {
  width: 360px;
  height: 300px;
  object-fit: cover;
}
